*{
    padding: 0;
    margin: 0;
    //outline: 1px dotted red;
}

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navBar{
    background-color: #181818;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
    display: grid;
    justify-content: center;
    align-items: center;
    nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 1.5rem;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 700;
                    font-size: 1.1rem;
                }
                a:hover{
                    border-bottom: 3px solid #F8F272;
                }
            }
        }
    }
}

.home{
    //background-color: rgb(130, 10, 209);
    background: rgb(92,0,153);
    background: linear-gradient(83deg, rgba(92,0,153,1) 48%, rgba(130,10,209,0.8802871490393032) 88%);
    display: flex;
    height: 32rem;
    padding-top:5rem;
    position:relative;
    opacity: 0.9;

    .wrapperHome{
        margin: 2%;
        h1{
            color: #fff;
            margin: 0;
            font-weight:900;
            font-size: 45px;
           
        }
        .codeImg{
            width: 6.5rem;
            position: absolute;
            left: 2%;
            bottom: 3%;
        }
        .binaryImg{
            height: 72%;
            position: absolute;
            right:1.7%;
            top: 20%;
        }

    }
} 

.wrapperPage{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    h1{
        font-weight:900;
        font-size: 45px;
        color: #fff;
    }
    hr{
        position: absolute;
        //top: 5px;
        left: 0;
        width: 124px;
        border: 1px solid #5c0099;
        //margin-top: 1rem;
    }
}

.about{
    background-color: black;
    color: #fff;
    overflow: hidden;
    padding-bottom: 2rem;
    .wrapperAbout{
        display: flex;
        .text{
            width: 50%;
            margin-left: 7%;
            h2{
                font-weight:900;
                font-size: 45px;
                color: #fff;
                padding-bottom: 2rem;;
            }
            p{
                font-weight: 500;
                font-size: 21px;
            }
        }
        .photo{
            width: 50%;
            display: flex;
            justify-content: center;
            .personalPhoto{
                height: 25rem;
                border-radius: 10%;
                
            }
        }
    }
    

}